/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  button, .button {
    background-color: #FFC107;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #FFC107;
  }
  
  /* Main styles */
  main {
    margin: 40px auto;
    max-width: 1200px;
  }
  
  section {
    margin-bottom: 60px;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #hero {
    background-image: url("hero.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #hero h2 {
    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #333;
  }
  
  #hero p {
    font-size: 24px;
    margin-bottom: 40px;
    text-shadow: 2px 2px #333;
  }
  
  #hero .button {
    margin-top: 20px;
  }
  
  #featured-flavors {
    text-align: center;
  }
  
  .flavors {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .flavor {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .flavor img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .flavor h3 {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  * {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
  
  #about {
    text-align: center;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    font-size: 18px;
  }
  